$bgColor: #fff5cc;
$primColor: darkblue;

.well {
  border-radius: 0.2em;
  background-color: $bgColor * 1.5;
  border: 1px dotted white;
  padding: 1em;
  margin: 0
}

body {
  color: $primColor;
  background-color: $bgColor;
}
h1 {
  display: inline;
}
.flashMessage {
  margin: 0 1em;
}

ul {
  padding-left: 0;
}

.diff-json-container {
  @extend .well;
  vertical-align: top;
  white-space: pre;
  width: 30%;
  display: inline-block;
}
.log-action-label {
  font-weight: 700;
}
// debug borders
.col1, .col2, .col3 {
  display: inline-block;
  border-top: 1px solid $primColor;
  border-left: 1px solid $primColor;
  border-right: 1px solid $primColor;
  width: 15em;
}
.diff-json-container {
  width: 13em;
}
.diff-path, .diff-json-container {
  height: inherit;
}
.Collapsible__trigger {
  font-size: 1.5em;
  font-weight: 700;
}
.Collapsible:nth-of-type(odd) {
  background-color: $bgColor * 0.8;
}
.Collapsible {
  border: 1px solid $primColor;
}
button, select, .custom-file-input::-webkit-file-upload-button {
  cursor: pointer;
  background: $primColor;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  margin: 0.5em;
}
button:active, .custom-file-input::-webkit-file-upload-button:active, .activeSetting {
  background: green;
}

.disabledSetting {
  background-color: red;
}

.menu-lines {
  list-style-type: none;
  text-align: center;
}

.settings-menu {
  float: right;
  text-align: center;
  width: 12%;
  z-index: 1;
}
.settings-title {
  text-align: center;
  cursor: pointer;
}
.custom-file-input::-webkit-file-upload-button {
  outline: none;
  -webkit-user-select: none;
}
.custom-file-input::-webkit-file-upload-button::after {
  opacity: 0;
}
